# ===== Backend (Spring Boot) =====
target/
*.log
*.class
*.jar

# ===== Node (React) =====
node_modules/
build/
dist/
.env

# ===== Flutter =====
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android / iOS
android/.gradle/
ios/Pods/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
*.iml
