# ===== Backend (Spring Boot) =====
target/
*.log
*.class
*.jar
.mvn/
bin/

# ===== Node (React) =====
node_modules/
build/
dist/
.env
.eslintcache
backend/

# ===== Flutter =====
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
**/build/
**/generated_plugin_registrant.*
**/generated_plugins.cmake

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig

# ===== OS =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# ===== IDE =====
.vscode/
.idea/
*.iml

.fake